.button-close {
    width: 32px;
    height: 32px;
    background-image: url(../../images/button__close.svg);
    background-color: black;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .button-close {
        width: 25px;
        height: 25px;
        background-size: cover;
        right: -33px;
        top: -33px;
    }
}


@media screen and (max-width: 450px) {
    .button-close {
        width: 20px;
        height: 20px;
        background-size: cover;
        right: 0px;
    }
}