.profile__name {
    margin: 0;
    font-family: Inter, serif, Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 107%;
    grid-column: 1/2;
}

@media screen and (max-width: 1050px) {
    .profile__name {
        font-size: 30px;
        line-height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .profile__name {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .profile__name {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        grid-column: 2/3;
    }
}